@import url('https://fonts.googleapis.com/css?family=Barrio|Open+Sans');


body {
    background-color: #336B87;
}

.page-wrapper {
    width: 80%;
    background-color: #90AFC5;
    padding: 25px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    position: relative;
    top: 35px;
    bottom: 35px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #336B87;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    font-family: Barrio;    
}

h1 {
    font-size: 3em;
    height: 35px;
}

p {
    color: #2A3132;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.design-selection li {
    display: inline-block;
    background-color: #2A3132;
    padding: 10px;
    margin: 5px;
}

#design-selection {
    padding: 10px;
}

footer {
    background-color: white;
    text-align: center;
    padding: 5px;
}

footer *::after, footer *::before {
    content: " | ";
    color: grey;
}

.preamble h3, . {
    clear: both;
}

#zen-summary {
    float: left;
}

#zen-preamble {
    float: right;
}

#zen-supporting {
    clear: both;
}